.dark-theme {
    --color-text: #fff;
    --color-background: #181a1e;
    --color-dark: #101214;
    --color-white: #202529;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
  }
  
  
  .dark-theme  header{
    background: var(--color-dark);
    color: black;
  }
  .dark-theme body {
    background: var(--color-background);
    color: var(--color-background);
  }
  .dark-theme nav {
    background: var(--color-dark);
  }
  
  .dark-theme #sidebar {
    background: var(--color-dark);
  }
  
  .dark-theme a{
    background: var(--color-dark);
    color: var(--color-text);
  }

  .dark-theme a:hover{
    background: var(--color-text);
  }
  
  
  .dark-theme main{
    color: var(--color-text);
  }
  .dark-theme h2{
    color: var(--color-text);
  }

  .dark-theme button{
    background: var(--color-text) !important ;
    color: var(--color-background) !important;
  }

  .dark-theme button:hover{
   box-shadow: none;
  }
  
  
  .dark-theme .navbar-brand:hover{
    background:var(--color-dark);
  }
  


  .top-wrapper {
    height: 50px;
    width: 100vw;
    background-color: blue
}

.left-wrapper {
    width: 100px;
    height: 100vh;
    background-color: blue
}

.card-screen-block-wrapper {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-box {
    max-width: 900px;
    margin: 0 10rem;
}

.card-box h2 {
    margin: 0 0 1rem 0;
    font-weight: 700;
}

.card-button {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
}

.card-button button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-color: #053675;
    padding: 1rem;
    width: 150px;
    border-radius: 1rem;
    color: white;
    margin: 0 0.5rem;
    border: none;
}

.card-box h2 {
    text-align: center;
}

@media screen and (min-width: 1366px) and (max-width: 1600px){
  .card-box {
    margin: 0px 3rem;
  }
}