/*Barra de Navegação*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap%22");

.dark-theme {
  --color-text: #fff;
  --color-background: #444654;
  --color-dark: #2A2B32;
  --color-white: #202529;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
}



.dark-theme header {
  background: var(--color-dark);
  color: black;
}

.dark-theme body {
  background: var(--color-background);
  color: var(--color-background);
}

.dark-theme nav {
  background: var(--color-dark);
}


.dark-theme #sidebar {
  background: var(--color-dark);
}

.dark-theme a {
  background: var(--color-dark);
  color: var(--color-text);
}

.dark-theme #bdaymonth {
  background-color: var(--color-dark);
}


.dark-theme td {
  background: var(--color-text);
  color: var(--color-background);
}

.dark-theme p {
  color: var(--color-background);
}


.dark-theme h1 {
  color: var(--color-text);
}

.dark-theme .navbar-brand:hover {
  background: var(--color-dark);
}

.dark-theme button {
  background: var(--color-text) !important;
  color: var(--color-background) !important;
}

.dark-theme button:hover {
  box-shadow: none;
}

.dark-theme hr {
  border: 1px solid var(--color-text);
}

.link {
  color: white;
}

body {
  background-color: #E8EEF6;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

a:hover {
  background-color: white;
  border-radius: 4px;
  color: #16223a !important;
  text-decoration: none;
}

.img_nav {
  border-radius: 100%;
}

.navBackColor {
  background: #183d72;
}

.newclas {
  background: white;
}

#sidebar {
  width: 250px;
  background-color: #183d72;
  color: #fff;
  height: 100vh;
  position: fixed;
  transition: all 0.3s;
  z-index: 1;
  overflow-y: auto;
}

.navbar-brand {
  width: 400px;
  height: 95px;
}

.navbar-brand img {
  margin-left: -85px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  margin-left: 250px;
  transition: all 0.3s;
}

.sidebar-header {
  padding: 1px;
}

ul.components {
  padding: 0;
}

ul.components li a {
  padding: 25px;
  display: block;
  color: #fff;
}

ul.components li.active {
  background-color: #16223a;
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand:hover {
  background-color: #183d72;
}

/* MAIN */


#transactions {
  position: relative;
  top: 40vh;
  right: -55vh;
  width: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

thead {
  position: relative;
  left: 30px;
}

th {
  font-size: 24px;
}

td {
  box-sizing: border-box;
  background-color: #fff;
  height: 70px;
  padding-right: 300px;
  padding-left: 20px;
  font-size: 18px;
  white-space: nowrap;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

td:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child {
  padding-right: 50px;
  border-radius: 0 10px 10px 0;
}

td:nth-child(3) {
  padding-right: 50px;
}

td img {
  cursor: pointer;
}

td.value-positive {
  color: green;
  font-weight: 600;
}

td.value.negative {
  color: red;
  font-weight: 600;
}


#gerar button {
  border: none;
  color: #ffffff;
  background-color: #183d72;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  position: absolute;

}

#gerar {
  position: absolute;
  top: 720px;
  right: 393px;

}


#dia button {
  border: none;
  position: absolute;
  color: #ffffff;
  background-color: #183d72;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  right: 196px;
  top: 280px;
}

#vec button {
  border: none;
  position: absolute;
  color: #ffffff;
  background-color: #183d72;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  left: 430px;
  top: 320px;

}

#valor button {
  border: none;
  position: absolute;
  color: #ffffff;
  background-color: #183d72;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  right: 520px;
  top: 280px;
}

#vec button {
  border: none;
  position: absolute;
  color: #ffffff;
  background-color: #183d72;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  left: 457px;
  top: 280px;

}

#melhor {
  color: #ffffff;
  position: absolute;
  left: 465px;
  top: 300px;

}

#disponivel {
  color: #ffffff;
  position: absolute;
  left: 465px;
  top: 350px;

}

#vencimento {
  color: #ffffff;
  position: absolute;
  right: 255px;
  top: 280px;
}

#fatura {
  color: #ffffff;
  position: absolute;
  right: 238px;
  top: 320px;
  border: none;
}


#total {
  color: #ffffff;
  position: absolute;
  left: 857px;
  top: 280px;

}

#ano {
  color: #ffffff;
  position: absolute;
  left: 820px;
  top: 340px;

}

hr {
  size: 100%;
  color: #000000;
  width: 60%;
  margin-right: 12%;
  margin-top: -10%;

}


#nome {
  color: #000000;
  position: absolute;
  left: 435px;
  top: 135px;

}

#logo2 {

  float: right;
  margin-right: 22%;
  margin-top: 21px;
}


#cartao {
  position: absolute;
  right: 12.5%;
  top: 142px;

}

#cartao button {
  border: none;
  width: 130px;
  height: 40px;
  background-color: #183d72;
  color: #ffffff;
  border-radius: 5px;
}

#cine {
  position: relative;
  top: 50vh;
  right: -55vh;
  width: 50px;

}




#bdaymonth {
  position: absolute;
  top: 236px;
  right: 200px;
  background-color: #183d72;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 190px;

}


@media screen and (width: 1366px) {
  #nome {
    left: 23.5%;
  }
  
  #logo2 {
    margin-right: 17%;
    margin-top: 18px;
  }

  #cartao {
    right: 6.5%;
  }

  hr {
    margin-top: -12%;
    margin-right: 6.5%;
    width: 69%;
  }

  #bdaymonth {
    right: 84px;
  }

  #transactions {
    right: -42vh;
  }

  #dia button {
    right: 82px;
  }

  #valor button {
    right: 406px;
  }

  #vec button {
    left: 337px;
  }

  #gerar {
    right: 19%;
  }

  p {
    margin-left: -122px;
  }
}

@media screen and (min-width: 1920px) {

  #nome {
    left: 29%;
    top: 143px;
  }

  #cartao {
    top: 15%;
    right: 21.5%;
  }

  #valor button {
    right: 33%;
    top: 33%;
  }

  #transactions {
    right: -58vh;
    top: 46vh;
  }

  #gerar button {
    top: 7vw;
    right: 1vh;
  }

  #dia button {
    right: 314px;
    top: 33%;
  }

  #vec button {
    top: 33%;
    left: 29.5%;
  }

  p {
    margin-top: 40px;
    margin-left: 105px;
  }

  .mural {
    margin-right: 100px;
  }


  #logo2 {
    margin-right: 29%;
    margin-top: 23px;
  }

  hr {
    margin-right: 15%;
    margin-top: -8%;
  }

  #bdaymonth {
    top: 257px;
    right: 412px;
  }

}