/*Barra de Navegação*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
.link {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  
}
a:hover {
  background-color: white;
  border-radius: 4px;
  color: #16223a !important;
  text-decoration: none;
}

.img_nav {
  border-radius: 100%;
}

.navBackColor {
  background: #183d72;
  z-index: 2;
}

.newclas {
  background: white;
}

#sidebar {
  width: 250px;
  background-color: #183d72;
  color: #fff;
  height: 100vh;
  position: fixed;
  transition: all 0.3s;
  z-index: 1;
  overflow-y: auto;
}

.navbar-brand {
  width: 400px;
  height: 95px;
}

.navbar-brand img {
  margin-left: -85px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sidebar.active {
  margin-left: -250px;
}

/* #content {
  margin-left: 250px;
  transition: all 0.3s;
} */

.sidebar-header {
  padding: 20px;
}

ul.components {
  padding: 0;
}

ul.components li a {
  padding: 25px;
  display: block;
  color: #fff;
}

ul.components li.active {
  background-color: #16223a;
}

/* #content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar-brand:hover {
  background-color: #183d72;
}

/* MAIN */

/* #content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin-right: -55%;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  width: auto;
  border: solid red;
} */

/* CSS KERVEN*/

#content { /* Aqui o container está diferente porque testei essa configuração e deu super certo: a div está bem dividade entre a nav e conteudo principal*/
height: auto;
width: auto;
background: #E8EEF6;
/* position: relative; */
margin-left: 250px;
transition: all 0.3s;
flex: 1;
display: flex;
justify-content: center; 
align-items: center;
}

header {
margin-bottom: 80px;
}

.div_container { /* Estilo para as caixas do container*/
background: #fff;
height: auto;
width: auto;
border-radius: 1%;
}

h1 {
text-align: center;
}

.report-container {
max-width: 600px;
margin: 0 auto;
}

.report-section {
margin-bottom: 30px;
}

.report-title {
font-size: 18px;
font-weight: bold;
text-align: center;
}

.report-data {
margin-top: 10px;
}

.report-data table {
width: 100%;
border-collapse: collapse;
}

.report-data th, .report-data td {
padding: 8px;
text-align: left;
border-bottom: 1px solid black;
}

.report-data th {
background-color: #f2f2f2;
}

h2 {
text-align: center;
margin-top: 25px;
}

main {
height: 100vh;
background: #E8EEF6;
}

.pdf-button {
width: 150px;
padding: 10px;
text-align: center;
background-color: #183d72;
color: #fff;
text-decoration: none;
border-radius: 5px;
align-items: center;
}

.div-button {
width: auto;
margin-bottom: 5%;
padding-top: 3%;
padding-left: 80%;
}

@media print {
  /* Estilos para a impressão */

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }

  th, td {
    border: 10px solid black;
    padding: 8px;
  }
}
